<div id="<%= dom_id order %>">
  <p>
    <strong>Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p>
    <strong>Fulfilled:</strong>
    <%= order.fulfilled %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

  
  <% if order.order_products.any? %>
    <% order.order_products.each do |op| %>
      <%= op.product.name %>
      <%= op.size %>
      <%= op.quantity %>
    <% end %>
  <% end %>
  

</div>
